---
import { siteConfig } from '@/site-config'
import '../styles/global.css'
import '../styles/theme-light.css'
import { ViewTransitions } from 'astro:transitions'

export interface Props {
	title: string
	description?: string
	ogImage?: string | undefined
	articleDate?: string | undefined
}

const {
	title,
	description = siteConfig.description,
	ogImage,
	articleDate
} = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(ogImage ? ogImage : '/open-graph.png', Astro.url)
	.href

const titleSeparator = '|'

const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`
---

<!-- ViewTransitions  -->
<ViewTransitions />

<!-- Global Metadata -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/x-icon' href='/favicon.ico' />
<meta name='generator' content={Astro.generator} />
<!-- js not working -->
<!-- <script src='/src/assets/js/vendor.js'></script>
<script src='/src/assets/js/parallax.min.js'></script> -->
<!-- Canonical URL -->
<link rel='canonical' href={canonicalURL} />

<!-- Primary Meta Tags -->

<!-- SEO -->
<meta name='title' content={siteTitle} />
<meta name='description' content={description} />
<meta name='author' content={siteConfig.author} />

<div class='hero-shapes' id='scene'>
	<img class='shape1' data-depth='0.5' src='images/shape2.svg' alt='Shape 1' />
	<img class='shape2' data-depth='0.1' src='images/shape2.svg' alt='Shape 1' />
	<img class='shape3' data-depth='0.2' src='images/shape3.svg' alt='Shape 1' />
	<img class='shape4' data-depth='0.5' src='images/shape4.svg' alt='Shape 1' />
	<img class='shape5' data-depth='0.2' src='images/shape5.svg' alt='Shape 1' />
	<img class='shape6' data-depth='0.1' src='images/shape6.svg' alt='Shape 1' />
	<img class='shape7' data-depth='0.5' src='images/shape7.svg' alt='Shape 1' />
	<img class='shape8' data-depth='0.1' src='images/shape8.svg' alt='Shape 1' />
	<img class='shape9' data-depth='0.1' src='images/shape9.svg' alt='Shape 1' />
</div>

<!-- Open Graph / Facebook -->
<meta property='og:type' content={articleDate ? 'article' : 'website'} />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property='og:image' content={socialImageURL} />
{
	articleDate && (
		<>
			<meta property='article:author' content={siteConfig.author} />
			<meta property='article:published_time' content={articleDate} />
		</>
	)
}

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={socialImageURL} />

<!-- RSS auto-discovery -->
<link
	rel='alternate'
	type='application/rss+xml'
	title={siteConfig.title}
	href='/rss.xml'
/>

<title>{siteTitle}</title>
